# Project exclude paths
/venv/
/debug

# vim session
.vim
.mypy_cache

# file creati da pycharm
.idea
__pycache__
sources/__pycache__
sources/auth/__pycache__
sources/main/__pycache__

# file creati da flask
flask_session
