# Project exclude paths
/venv/
/debug

# vim session
.vim
.mypy_cache

# file creati da pycharm
.idea
__pycache__
app/__pycache__
app/auth/__pycache__
app/main/__pycache__

# file creati da flask
flask_session

.env
docs/.Rhistory