{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block page_content %}

<div class="container-fluid">
    <div class="row align-items-center mb-4">
        {%  if current_user.is_authenticated %}
            <div class="page-header"><h1>Benvenuto {{ current_user.username.capitalize() }}!</h1></div>
            <div class="page-header"><h1>Comincia subito a creare un quiz cliccando su "Crea un Questionario"!</h1></div>
        {% else %}
            <div class="page-header"><h1>Ciao Anonimo!</h1></div>
            <div class="text-dark">Effettua il <a href="{{ url_for('auth.login') }}">login</a> per utilizzare il servizio.</div>
        {% endif %}
    </div>
</div>
{% endblock %}