{% extends 'layout.html' %}

{% block title %}Editor{% endblock %}

{% block page_content %}

    <div class="container-fluid">
        <!-- FLASH ERRORI -->
        <div class="row mx-auto">
            <div class="container">
                {% if editor_form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <ul class="errors">
                            {% for field_name, field_errors in editor_form.errors|dictsort if field_errors %}
                                {% for error in field_errors %}
                                    <li>{{ editor_form[field_name].label }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

    <!--
        Refactoring del quiz editor:
            al click sull'editor viene visualizzata la lista delle domande con il titolo e la descrizione editabili
            per ogni domanda c'è il pulsante edit che reindirizza a una pagina per fare l'editing della domanda
            per ogni domanda c'è il pulsante per cancellarla
            alla fine della pagina il pulsante '+' fa apparire un modal per creare la domanda.
    -->

        <!-- new qiestion Modal -->
        <div class="modal fade" id="newQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuovo quiz</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="" method="POST" role="form" class="user">
                        <div class="modal-body">
                            {{ form.hidden_tag() }}
                            {{ form.text(class='form-text form-control', placeholder='Testo della domanda') }}
                            <hr>
                            {{ form.type_id(class='form-select') }}
                            <hr>
                            {{ form.is_activated.label }} {{ form.is_activated(class='form-check-inline', onclick='visibile()') }}
                            <div id="divInvis" style="visibility: hidden">
                                <br>
                                {{ form.activant.label }} {{ form.activant(class='form-select') }}
                                <br>
                                {{ form.id_activant_answer.label }} {{ form.id_activant_answer(class='form-select') }}
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                            {{ form.invia(class='btn btn-primary') }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end Modal -->

        <!-- EDITOR -->
        <div class="page-header align-items-center mb-4">
            <h3 class="text-dark mb-0">Editor</h3>
        </div>
            <div class="card shadow mb-4 text-center col-md-7 mx-auto">
                <div class="card-header">
                    <form method="POST">
                    {{ editor_form.hidden_tag() }}
                    <h3>{{ editor_form.title(class='form-input') }}</h3>
                    {{ editor_form.description(class='form-control') }}
                    {{ editor_form.submit(class="btn btn-info") }}
                    </form>
                </div>
                <div class="card-body" data-toggle="fieldset" id="question-fieldset">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <!-- TODO se una risposta è attivata da qualcun'altra far si che sia possibile visualizzare quale sia la domanda attivante-->
                                <th scope="col"></th>
                                <th scope="col">Testo della domanda</th>
                                <th scope="col">Viene attivata da una domanda</th>
                                <th scope="col">Tipo di domanda</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for domanda in current_quiz.questions %}
                                <tr data-toggle="fieldset-entry">
                                    <th scope="row">{{ loop.index0 + 1 }}</th>
                                    <td>
                                        {% if domanda.text_html %}
                                            {{ domanda.text_html | safe }}
                                        {% else %}
                                            {{ domanda.text }}
                                        {% endif %}
                                    </td>
                                    <td>{{ domanda.is_activated }}</td>
                                    <td>{{ tipi_domanda[domanda.type_id - 1].name }}</td>
                                    <td>
                                        <form id="edit-question" method="POST" action="{{ url_for('quiz.edit_question', question_id=domanda.id, quiz_uuid=current_quiz.uuid) }}">
                                            <button type="submit" class="btn btn-outline-info fas fa-edit"></button>
                                        </form>
                                        <form id="delete-question" method="POST" action="{{ url_for('quiz.delete', domanda_id=domanda.id) }}">
                                            <button type="submit" class="btn btn-outline-danger fas fa-trash-alt"></button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newQuestion"><i class="fas fa-plus fa-2x text-white"></i></button>
                </div>
            </div>
    </div>
{% endblock %}
{% block script_part %}
    <script>
    function visibile(){
        if (document.getElementById('is_activated').checked)
        {
            document.getElementById('divInvis').style.visibility = 'visible';
        } else {
            document.getElementById('divInvis').style.visibility = 'hidden';
        }
    }
    </script>
    <script charset="utf-8" type="text/javascript">

        $(function() {

            // jQuery selection for the 2 select boxes
            var dropdown = {
                activant: $('#select_activant'),
                activant_answer: $('#select_id_activant_answer')
            };

            // call to update on load
            updatePossibleAnswers();

            // function to call XHR and update county dropdown
            function updatePossibleAnswers() {
                var send = {
                    activant: dropdown.activant.val()
                };
                dropdown.activant_answer.attr('disabled', 'disabled');
                dropdown.activant_answer.empty();
                $.getJSON("{{ url_for('quiz.get_possible_answers')}}", send, function(data) {
                    data.forEach(function(item) {
                        dropdown.activant_answer.append(
                            $('<option>', {
                                value: item[0],
                                text: item[1]
                            })
                        );
                    });
                    dropdown.activant_answer.removeAttr('disabled');
                });
            }

            // event listener to state dropdown change
            dropdown.activant.on('change', function() {
                updatePossibleAnswers();
            });

        });

    </script>
{% endblock %}
