{% extends 'bootstrap/base.html' %}

{% block title %}Flask{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Moduli Clone</a>
            </div>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="nav navbar-nav">
                    <li><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right justify-content-end d-none d-lg-flex ">
                    {% if current_user.is_authenticated %}
                    <li><a class="nav-link" id="logout" href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                    <li><a class="nav-link" id="login" href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
      </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}