{% extends "base.html" %}
{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container">
    <form class="row g-3" action = "http://localhost:5000/login" method = "post">
            <div class="col-auto">
                <label for="email" class="visually-hidden">Email</label>
                <input type="email" readonly class="form-control-plaintext" id="email" value="email@example.com">
            </div>
            <div class="col-auto">
                <label for="password" class="visually-hidden">Nome</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
                <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>
    </form>
</div>
{% endblock %}