{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block page_content %}
    <style>
        a {
            text-decoration: none !important;
            color: black
        }
    </style>

<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Dashboard</h3>
        <!--<a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>-->
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card textwhite bg-primary text-white border-start-primary shadow">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newQuizModal">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-white fw-bold h5 mb-0"><span>Nuovo quiz</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-plus fa-2x text-gray-300"></i></div>
                    </div>
                </div>
                </button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="newQuizModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuovo quiz</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="" method="POST" role="form" class="user">
                        <div class="modal-body">
                            {{ nuovo_questionario_form.hidden_tag() }}
                            {{ nuovo_questionario_form.titolo(class='form-text form-control', placeholder='Titolo') }}
                            <hr>
                            {{ nuovo_questionario_form.descrizione(class='form-text form-control', placeholder='Descrizione') }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                            {{ nuovo_questionario_form.submit(class='btn btn-primary') }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end Modal -->

        <!--
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-info py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Tasks</span></div>
                            <div class="row g-0 align-items-center">
                                <div class="col-auto">
                                    <div class="text-dark fw-bold h5 mb-0 me-3"><span>50%</span></div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span class="visually-hidden">50%</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-warning py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Pending Requests</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>18</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <!-- Start: Chart -->
    <div class="row">
        <!-- OVERVIEW DEI QUESTIONARI -->
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Overview: i tuoi questionari</h6>
                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                            <p class="text-center dropdown-header">Opzioni:</p>
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#newQuizModal">&nbsp;New quiz</a>
                            <a class="dropdown-item" href="#">&nbsp;Delete All</a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    {% if quizzes %}
                        {% for result in quizzes %}
                            <li class="list-group-item">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <h6 class="mb-0"><strong><a href="{{ url_for('quiz.editor',edit_id=result.id) }}">{{ result.title }}</a></strong></h6><span class="text-xs">{{ moment(result.timestamp).format('LLL') }}</span>
                                    </div>
                                    <div class="col-5">
                                        <p class="mb-0 text-black-50">{{ result.description }}</p>
                                    </div>
                                    <div class="col-1">
                                        <form id="delete-quiz" method="POST" action="{{ url_for('main.delete', quiz_id=result.id) }}">
                                            <button type="submit" class="btn btn-outline-danger fas fa-trash-alt"></button>
                                        </form>
                                    </div>
                                    <div class="col-1">
                                        <form id="edit-quiz" method="GET" action="{{ url_for('quiz.editor', edit_id=result.id) }}">
                                            <button type="submit" class="btn btn-outline-info fas fa-edit" ></button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        {% else %}
                        <li class="list-group-item">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <h6 class="small fw-bold mb-0">Non hai ancora creato nessun quiz!</h6>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        <!-- fine: OVERVIEW DEI QUESTIONARI -->
        </div>
    </div>
</div>
    <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
{% endblock %}