{% extends 'layout.html' %}

{% block title %}Editor{% endblock %}

{% block page_content %}
    <div class="container-fluid">

        <!-- Modal -->
        <div class="modal fade" id="newQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crea una nuova domanda</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="" method="POST" role="form" class="user">
                        <div class="modal-body">
                            {{ form.hidden_tag() }}
                            {{ form.text(class='form-text form-control', placeholder='Testo della domanda') }}
                            <hr>
                            {{ form.selection(class='form-select form-control') }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                            {{ form.submit(class='btn btn-primary') }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end Modal -->

        <div class="page-header align-items-center mb-4">
            <h3 class="text-dark mb-0">Editor</h3>
        </div>

        <div class="card shadow mb-4 text-center col-md-7 mx-auto">
            <div class="card-header"><h3>{{ current_quiz.title }}</h3></div>
            <div class="">{{ current_quiz.description }}</div>
        </div>
        <div class="row align-items-center">
            <div class="mx-auto col-md-7">
                <div class="card shadow mb-4">
                    <div class="col-md-auto ">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="card-header py-3">
                             {{ form.text(class='form-control', id="signature", placeholder="Titolo") }}
                        </div>
                        <div class="card-body">
                             {{ form.selection(class='form-select-sm') }}
                             {{ form.activant(class='form-check-input custom-control-input') }}
                             {{ form.activant.label }}
                             {{ form.submit(class='btn btn-primary') }}
                         </div>
                    </form>
                    </div>
                    <div class="col-1 mx-auto">
                        <form method="POST" action="">
                            <button type="submit" class="btn btn-outline-danger fas fa-trash-alt"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-auto col-xl-1 mb-4">
            <div class="card textwhite bg-primary text-white border-start-primary shadow">
                <!-- Button trigger modal -->

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newQuestion">
                <div class="card-body text-center">
                    <div class="row align-items-center no-gutters">
                            <!--<div class="text-white fw-bold h5 text-xs"><span>Aggiungi domanda</span></div><br>-->
                        <i class="fas fa-plus fa-2x text-white"></i>
                    </div>
                </div>
                </button>
            </div>
        </div>

    </div>
<script src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% endblock %}