{% extends 'layout.html' %}

{% block title %}Editor{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <!-- FLASH ERRORI -->
        <div class="row mx-auto">
            <div class="container">
                {% if editor_form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <ul class="errors">
                            {% for field_name, field_errors in editor_form.errors|dictsort if field_errors %}
                                {% for error in field_errors %}
                                    <li>{{ editor_form[field_name].label }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- EDITOR -->
        <div class="page-header align-items-center mb-4">
            <h3 class="text-dark mb-0">Editor</h3>
        </div>
        <form method="POST">
            {{ form.csrf_token }}
            <div class="card shadow mb-4 text-center col-md-7 mx-auto">
                <div class="card-header">
                    {{ editor_form.hidden_tag() }}
                    <h3>{{ editor_form.title(class='form-input') }}</h3>
                    {{ editor_form.description(class='form-control') }}
                </div>
                <div class="card-body" data-toggle="fieldset" id="question-fieldset">
                    <table class="table">
                        {% for dom in editor_form.questions %}
                            <tr data-toggle="fieldset-entry">
                                <td>{{ dom.text(class='form-control form-input', placeholder='Scrivi una domanda...') }}</td>
                                <td>{{ dom.activant }}</td>
                                <td>{{ dom.type_id }}</td>
                                <td><button class="btn btn-danger" type="button" data-toggle="fieldset-remove-row" id="question-{{loop.index0}}-remove"><i class="fas fa-trash-alt"></i></button></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <button type="button" class="btn btn-success" data-toggle="fieldset-add-row" data-target="#question-fieldset"><i class="fas fa-plus fa-2x text-white"></i></button>
                </div>
                <div class="card-footer">
                    {{ editor_form.submit(class="btn btn-info") }}
                </div>
            </div>
        </form>
    </div>
    {% block script_part %}
        <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
    {% endblock %}
{% endblock %}