{% extends 'layout.html' %}

{% block title %}Edit question{% endblock %}

{% block page_content %}

    <div class="row mx-auto">
        <div class="container">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <ul class="errors">
                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                                <li>{{ form[field_name].label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="text-center mt-5">
        <div class="col-auto">
            <div class="row">
                <form method="post">
                    {{ form.hidden_tag() }}

                    {{ form.text(class='form-control') }}
                    {% if current_question.type_id == 2 or current_question.type_id == 3 %}
                        <div class="row" data-toggle="fieldset" id="domanda-fieldset">
                            <table>
                                {% for possible_answer in form.possible_answers %}
                                    <tr data-toggle="fieldset-entry">
                                        {{ possible_answer.hidden_tag() }}
                                        <td>{{ possible_answer.text.label }}</td>
                                        <td>{{ possible_answer.text }}</td>
                                        <td><button class="btn btn-danger" type="button" data-toggle="fieldset-remove-row" id="domanda-{{loop.index0}}-remove"><i class="fas fa-trash-alt"></i></button></td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <div class="col-2">
                                <button type="button" class="btn btn-info" data-toggle="fieldset-add-row" data-target="#domanda-fieldset">+</button>
                            </div>
                        </div>
                    {% endif %}
                    {{ form.submit(class='btn btn-success') }}
                </form>
            </div>
        </div>
        <a href="{{ url_for('quiz.editor', edit_id=quiz_id) }}">← Torna all'editor del quiz</a>
    </div>
{% endblock %}

{% block script_part %}
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% endblock %}