{% extends 'layout.html' %}

{% block title %}Questionari{% endblock %}

{% block page_content %}
    <h3 class="text-dark mb-4">Questionario</h3>
    <div class="container-fluid">
        <div class="row align-items-center mb-4">
            {%  if current_user.is_authenticated %}
                <div class="page-header"><h1>Ciao {{ current_user.username.capitalize() }}, qui potrai compilare tutti i questionari creati dagli utenti </h1></div>
            {% else %}
                <div class="page-header"><h1>Ciao Anonimo!</h1></div>
                <div class="text-dark">Effettua il <a href="{{ url_for('auth.login') }}">login</a> per utilizzare il servizio.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}