{% extends 'layout.html' %}

{% block title %}Questionari{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <div class="row align-items-center mb-4">
            {%  if current_user.is_authenticated %}
                <div class="page-header"><h1>Ciao {{ current_user.username.capitalize() }}, qui potrai compilare tutti i questionari creati dagli utenti </h1></div>
            {% else %}
                <div class="page-header"><h1>Ciao Anonimo!</h1></div>
                <div class="text-dark">Effettua il <a href="{{ url_for('auth.login') }}">login</a> per utilizzare il servizio.</div>
            {% endif %}
        </div>
    </div>
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center text-center">
            <h3>Lista dei questionari</h3>
        </div>
        <div class="card-body">
            <table id="data" class="table table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">Titolo</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Data</th>
                    <th scope="col">Nro di domande</th>
                </tr>
                </thead>
                <tbody>
                {% for questionario in questionari %}
                    {% if questionario.author_id != current_user.id %}
                    <tr>
                        <td>{{ questionario.title }}</td>
                        <td>
                            {% if questionario.description_html %}
                                {{ questionario.description_html | safe }}
                            {% else %}
                                {{ questionario.description }}
                            {% endif %}
                        </td>

                        <td>{{ moment(questionario.timestamp).format('LLL') }}</td>
                        <td>
                            numero n
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script_part %}
    <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          null,
          {searchable: false},
          null],
      });
    });
  </script>
{% endblock %}