{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block page_content %}
    <style>
        a {
            text-decoration: none !important;
            color: black
        }
    </style>

<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Risposte</h3>
        <!-- bottone per il dump CSV -->
        <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Genera report .csv</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12">
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="home" aria-selected="true">Overview</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#single" type="button" role="tab" aria-controls="profile" aria-selected="false">Singole</button>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas data-bss-chart="{&quot;type&quot;:&quot;doughnut&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Direct&quot;,&quot;Social&quot;,&quot;Referral&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;&quot;,&quot;backgroundColor&quot;:[&quot;#4e73df&quot;,&quot;#1cc88a&quot;,&quot;#36b9cc&quot;],&quot;borderColor&quot;:[&quot;#ffffff&quot;,&quot;#ffffff&quot;,&quot;#ffffff&quot;],&quot;data&quot;:[&quot;50&quot;,&quot;30&quot;,&quot;15&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false,&quot;labels&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}},&quot;title&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}}}">
                            </canvas>
                        </div>
                        <div class="text-center small mt-4"><span class="me-2"><i class="fas fa-circle text-primary"></i>&nbsp;Direct</span><span class="me-2"><i class="fas fa-circle text-success"></i>&nbsp;Social</span><span class="me-2"><i class="fas fa-circle text-info"></i>&nbsp;Refferal</span></div>
                    </div>


                </div>
                <div class="tab-pane fade" id="single" role="tabpanel" aria-labelledby="profile-tab">
                    {% for i in risposte %}
                    <div class="row">
                        <div class="col-6">
                            {{ i.Domanda }}
                        </div>
                        <div class="col-6">
                            {{ i.Risposta }}
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>




        </div>
    </div>




</div>
    {% block script_part %}
        <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
    {% endblock %}
{% endblock %}