{% extends 'layout.html' %}

{% block title %}Compila{% endblock %}

{% block page_content %}
    <!-- FLASH ERRORI -->
        <div class="row mx-auto">
            <div class="container">
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <ul class="errors">
                            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                                {% for error in field_errors %}
                                    <li>{{ form[field_name].label }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>


    <div class="page-header align-items-center mb-4">
            <h2>{{ current_quiz.title }}</h2>
            <p>
                {% if current_quiz.description_html %}
                    {{ current_quiz.description_html | safe }}
                {% else %}
                    {{ current_quiz.description }}
                {% endif %}
            </p>
    </div>
    <div class="card shadow mb-4 text-center col-md-7 mx-auto">
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for domanda in domande %}
            <div class="card-header">
                {{ loop.index }}
                {% if domanda.text_html %}
                    {{ domanda.text_html | safe }}
                {% else %}
                    {{ domanda.text }}
                {% endif %}
            </div>
            <div class="card-body">
                {% set dom = getter(form, 'domanda' + to_str(loop.index0)) %}
                <!-- {% if domanda.is_activated %}
                    {% if domanda.type_id == 3 %}
                        {% for choiche in dom %}
                        <tr>
                            <td>{{ choiche(class='radio', disabled=True) }}</td>
                            <td>{{ choiche.label(class='form-label') }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        {{ dom(disabled=True) }}
                    {% endif %}
                {% else %} -->
                    {% if domanda.type_id == 3 %}
                        <table>
                        {% for choiche in dom %}
                        <tr>
                            <td>{{ choiche(class='radio') }}</td>
                            <td>{{ choiche.label(class='form-label') }}</td>
                        </tr>
                        {% endfor %}
                        </table>
                    {% elif domanda.type_id == 2 %}
                        <table>
                        {% for choiche in dom %}
                        <tr>
                            <td>{{ choiche }}</td>
                            <td>{{ choiche.label(class='form-label') }}</td>
                        </tr>
                        {% endfor %}
                        </table>
                    {% else %}
                        {{ dom() }}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="card-footer">
            {{ form.submit }}
        </div>
    </form>
    </div>
{% endblock %}
