{% extends 'layout.html' %}

{% block title %}Compila{% endblock %}

{% block page_content %}
    <div class="page-header align-items-center mb-4">
            <h2>{{ current_quiz.title }}</h2>
            <p>
                {% if current_quiz.description_html %}
                    {{ current_quiz.description_html | safe }}
                {% else %}
                    {{ current_quiz.description }}
                {% endif %}
            </p>
    </div>
    <div class="card shadow mb-4 text-center col-md-7 mx-auto">
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for domanda in domande %}
            <div class="card-header">
                {% if domanda.text_html %}
                    {{ domanda.text_html | safe }}
                {% else %}
                    {{ domanda.text }}
                {% endif %}
            </div>
            <div class="card-body">
                {{ getter(form, 'domanda' + to_str(loop.index0) ) }}
            </div>
        {% endfor %}
        <div class="card-footer">
            {{ form.submit }}
        </div>
    </form>
    </div>


{% endblock %}